<app-header title="Categorías" [showBackButton]="false"></app-header>
<ion-content class="ion-padding">
    <div *ngIf="loading" class="ion-text-center ion-padding">
        <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div *ngIf="!loading">
        <ion-list-header>
            <ion-label>Globales</ion-label>
        </ion-list-header>
        <ion-list>
            <ion-item *ngFor="let cat of categoriasGlobales">
                <ion-icon [name]="cat.icono" slot="start" [style.color]="cat.color_hex"></ion-icon>
                <ion-label>{{ cat.nombre }}</ion-label>
            </ion-item>
        </ion-list>

        <ion-list-header>
            <ion-label>Personalizadas</ion-label>
            <ion-button routerLink="/app/categorias/nueva">Crear</ion-button>
        </ion-list-header>
        <ion-list>
            <ion-item *ngFor="let cat of categoriasPersonales" [routerLink]="['/app/categorias', cat.id, 'editar']">
                <ion-icon [name]="cat.icono" slot="start" [style.color]="cat.color_hex"></ion-icon>
                <ion-label>{{ cat.nombre }}</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
