<app-header title="Mi Perfil" [showBackButton]="false"></app-header>
<ion-content class="ion-padding">
    <div class="perfil-container" *ngIf="usuario">
        <ion-avatar class="profile-avatar">
            <img src="assets/icon/favicon.png" alt="Avatar">
        </ion-avatar>
        <h2>{{ usuario.nombre }}</h2>
        <p>{{ usuario.email }}</p>

        <ion-list class="ion-margin-top">
            <ion-item button lines="none" (click)="logout()" color="danger">
                <ion-icon name="log-out-outline" slot="start"></ion-icon>
                <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
